<section class="container-fluid fill-screen">
  <div class="form">
  <h1>Register</h1>
  <div class="alert-danger" *ngIf="username_errors">Username exists</div>
  <form role="form" (submit)="register($event, username.value, email.value, password.value)">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" #username class="form-control" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" #email class="form-control" id="email" placeholder="E-mail Address">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" #password class="form-control" id="password" placeholder="Password">
  </div>
  <button type="submit" class="button btn btn-default">Submit<span class="hide_ico glyphicon glyphicon-send
"></span></button>
  <br>
  <a class='login-link' [routerLink]="['/login']">Already have an account? Login Here.</a>
</form>
</div>
</section>
