<section class='zh-section1 container-fluid'>
  <img src='../../assets/img/zuhura-inv.png' alt="" class="img-responsive wow bounceInDown">
  <div class="midle row">
    <!-- panel-->
    <div class="col-xs-6 col-xs-push-6 text-left">
      <div class="">
        <a *ngIf="!auth.loggedIn()" [routerLink]="['/register']" class="btn wow fadeInRight">
              Sign Up
          </a>
      </div>
    </div>
    <div class="col-xs-6 col-xs-pull-6 text-right">
      <div class="">
        <a *ngIf="!auth.loggedIn()" [routerLink]="['/login']"class="btn wow fadeInLeft">
              Log In
          </a>
      </div>
    </div>
     <div class="zh-btn col-xs-6" style="margin-left: 40%;">
          <div class="">
        <a *ngIf="auth.loggedIn()" [routerLink]="['/bucketlists']"class="btn wow fadeInLeft">
              Create bucket list
          </a>
      </div>
     </div>
  </div>
  <!-- end panel -->
</section>
