<div class='element zh-section1 container-fluid'>
  <img src='../../assets/img/zuhura-inv.png' alt="" class="img-responsive">
  <div class="midle row">
    <!-- panel-->
    <div class="col-xs-6 col-xs-push-6 text-left">
      <div class="">
        <a class="btn">
              Sign Up
          </a>
      </div>
    </div>
    <div class="col-xs-6 col-xs-pull-6 text-right">
      <div class="">
        <a class="btn">
              Log In
          </a>
      </div>
    </div>
  </div>
  <!-- end panel -->
  <div class="row">
      <img src='../../assets/img/arrow.png' class="img-responsive center-arrow"/>
  </div>
</div>
<div class='zh-section2 container-fluid'>
</div>
<div class='zh-section3 container-fluid'>
</div>
