<div>
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <a [routerLink]="['/welcome']" class='navbar-brand'> {{title}}</a>
            <ul class='nav navbar-nav'>
                <li><a *ngIf="!auth.loggedIn()" [routerLink]="['/login']"> Log In</a></li>
                <li><a [routerLink]="['/register']"> Register </a></li>
                <li><a [routerLink]="['/dashboard']"> Dashboard</a></li>
                <li><a *ngIf="auth.loggedIn()"  (click)='logOut()' > Log Out</a></li>
            </ul>
        </div>
    </nav>
    <div class='container'>
        <router-outlet></router-outlet>
    </div>
</div>
