/*As understood from W3 Schools.*/



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 100px;
    left: 0;
    background-color: #f2cd5d; /* Purple*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    opacity: 0.9;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #3a1772;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    width: 90%;
    transition: margin-left .5s;
    padding: 20px;
    margin-left: 5%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.edit-name{
    font-size : 15px;
    margin-left: 10%;

}

.trigger {
    border-top:0;
    margin-left: 1.7%;
    margin-top: 1%;
    border-right: 30px;
    font-size: 25px;
    color: #3a1772;
    transition: all 0.5s;
    width: 50px;
    height: 50px;

}

.trigger:hover{
    color: #db3a34;
    cursor: pointer
}

.zh-dash1,
.zh-dash2,
.zh-dash3{
    width:300px;
    height: 200px;
    margin-right: 20px;
    border-radius: 5px;
    float: left;
    background: #58355E;
    color : #f2cd5d;
}


.number{
    margin-left:10%; 
    font-size: 10rem;
    color: #f2cd5d;
    font-weight: 600;
    letter-spacing: .1em;

}
 
.zh-body{
    margin-top: 8%;
}

.text{
    color: #58355E;
}