<div class="zh-body">
<span class="trigger glyphicon glyphicon-align-left" onclick="openNav()"></span>

<!-- Side Navigation -->

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <!--<span class='edit-name glyphicon glyphicon-user'>  {{username }}</span>-->
  <a href="#"><span class = "glyphicon glyphicon-user"></span> Account Owner: {{username}}</a>
  <a [routerLink]="['/bucketlists']"><span class = "glyphicon glyphicon-list"></span> View Bucketlists</a>
  <a href="#"><span class = "glyphicon glyphicon-log-out"></span> Log Out</a>
  <br>
  <div class="field" id="searchform">
  <input type="text" id="searchterm" placeholder="Search bucketlists ..."
  [(ngModel)]='listFilter' />
</div>
</div>
<div class="create-buck">
  <h4> Create new bucketlist!</h4>
    <form role="form" (submit)="createBucketList(name.value);">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" #name class="form-control" id="name" placeholder="Go Crazy!">
      </div>
      <button type="submit" class="button btn btn-default">Create</button>
    </form>
</div>
<hr>
<!--Test Out-->
<div class="card-block center-block" *ngFor='let bucketlist of bucketlists | bucketlistFilter:listFilter
'>
  <div class="single-card">
      <span class="number">#{{bucketlist.id}}</span>
      <br>
      Title : {{bucketlist.name}} <br>
      {{bucketlist.created_on}} <br>
      {{bucketlist.modified_on}} <br>
      <a [routerLink]="['/bucketlist',bucketlist.id,'items']">Items</a> <br>
      {{bucketlist.owner }} <br>
      <a class="button" [routerLink]="['/bucketlist', bucketlist.id ]">
        Edit <span class="glyphicon glyphicon-pencil"></span></a>
  
      
  </div>
</div>
</div>
