<div class="row">
  <div class="col-md-4">
    <form role="form" (submit)="createBucketList(name.value);">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" #name class="form-control" id="name" placeholder="My first bucketlist">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
<div class='panel panel-primary'>
  <div class='panel-heading'>
    Bucket Lists
  </div>
  <div class='panel-body'>
    <div class="row">
      <div class="col-md-4">
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date Created</th>
            <th>Date Modified</th>
            <th>Link</th>
            <th>Owner</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let bucketlist of bucketlists '>
            <td><a [routerLink]="['/bucketlist', bucketlist.id ]">{{bucketlist.name}}</a></td>
            <td>{{bucketlist.description | lowercase}}</td>
            <td>{{bucketlist.created_on }}</td>
            <td>{{bucketlist.modified_on }}</td>
            <td> <a [routerLink]="['/bucketlist',bucketlist.id,'items']">Items</a></td>
            <td>{{bucketlist.url }}</td>
            <td>{{bucketlist.owner }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

