<div class="row zh-body">
<span class="trigger glyphicon glyphicon-align-justify" onclick="openNav()"></span>

<!-- Side Navigation -->

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <!--<span class='edit-name glyphicon glyphicon-user'>  {{username }}</span>-->
  <a href="#"><span class = "glyphicon glyphicon-user"></span> Account Owner: {{username}}</a>
  <a [routerLink]="['/bucketlists']"><span class = "glyphicon glyphicon-list"></span> View Bucketlists</a>
  <a href="#"><span class = "glyphicon glyphicon-log-out"></span> Log Out</a>
</div>

<div class="create-buck">
  <h4> Add Item to Bucket List:{{pb}}</h4>
    <form role="form" (submit)="createBucketListItem(b_id, iname.value); iname.reset()">
      <div class="form-group">
        <label for="name">Name</label>
        <!--<input type="text" #name class="form-control" id="name" placeholder="Go Crazy!">-->
        <input [ngModel]="model" name='iname' #iname="ngModel" type="text" #name class="form-control" id="name" placeholder="Go Crazy!">
      </div>
      <button type="submit" class="button btn btn-default">Create</button>
    </form>
</div>
<hr>

<div class="zh-container card-block" *ngFor='let i of item'>
  <div class="single-card">
      <span class="number">#{{i.id}}</span>
      <br>
       <span class="letters">Item Name</span>: <span class="zh-value"> {{i.name}} </span><br>
      <span class="letters">Is Done</span>: <span class="zh-value">{{i.is_done}}</span> <br>
      <a class="zh-btn button" [routerLink]="['/bucketlist',i.bucketlist,'item', i.id]">
        Edit <span class="glyphicon glyphicon-pencil"></span></a>
  
      
  </div>
</div>
</div>

<a class="zh-back btn btn-default" (click)=onBack()>
    <span class="glyphicon glyphicon-chevron-left"></span> Back</a>










