 <div class="form center-block">
   <h1>Log In</h1>
     <div class="zh-alert alert-danger" *ngFor="let err of errors">
    <p><span class="glyphicon glyphicon-asterisk"> </span>{{err}}</p>
    </div>
   <form role="form" (submit)="login($event, username.value, password.value)">
   <div class="form-group">
     <label for="username">Username</label>
     <input type="text" #username class="form-control" id="username" placeholder="Username">
   </div>
   <div class="form-group">
     <label for="password">Password</label>
     <input type="password" #password class="form-control" id="password" placeholder="Password">
   </div>
   <button type="submit" (click)="showSuccess()" class="button btn btn-default">Log In</button>
   <br>
     <a class='login-link' [routerLink]="['/register']">Don't have an account? Click here to register.</a>
 </form>
 </div>